DATA_DIR=data

# ссылки
FX_URL=https://assets.contest.yandex.net/testsys/statement-file?hash=eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIn0..cT_33Wdcfi4sRaiB.doFVKDsSgppwoPVmlJXM6KRP1tDuTQ3SXe0Ue2HvrswtoHAriPL_CeBH1Gnz6reyxlOSVUyRjtRry2MJg65jp48X7fZh1sicC_Mvs2LC3NHx8O1dlMePhpqUAysxxgYxDPZl.G2QKL5I-cDTjzYWaTvMm5Q
TX_URL=https://assets.contest.yandex.net/testsys/statement-file?hash=eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIn0..gtHw-UhTnAMAC9OK.-O2zZRAE2zLf7Nq9oLSXu9qWScZLnCpVwz0OpeGe7P_o9AKtwGQzHdGV74-dfEyM89QpwMIkYfGCxQlxYCOoGeR8KCl8RjlzC0BFbykT6RlXLf0JEGBzGkr8JAaw.39OMlK9BOYws-HcM8bBJdw

# опционально
TIMEOUT=60
RETRIES=3
VERIFY_SSL=true

# опциональные имена выходных файлов
TX_FILENAME=transaction_fraud_data.csv
FX_FILENAME=historical_currency_exchange.csv



